@page
@model App.EndPoints.UI.RazorPages.Areas.Admin.Pages.Category.CreateModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">ایجاد دسته‌‌بندی جدید</h5>
        <small class="text-muted float-end primary-font"></small>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.CreatingCategory.Image" class="form-label">عکس دسته‌بندی را انتخاب کنید</label>
                <input asp-for="@Model.CategoryImage" class="form-control" type="file">
                <span asp-validation-for="@Model.CategoryImage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CreatingCategory.Title" class="form-label" for="basic-default-fullname">عنوان</label>
                <input asp-for="@Model.CreatingCategory.Title" type="text" class="form-control" id="basic-default-fullname" placeholder="">
                <span asp-validation-for="@Model.CreatingCategory.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CreatingCategory.Description" class="form-label" for="basic-default-message">توضیحات</label>
                <textarea asp-for="@Model.CreatingCategory.Description" id="basic-default-message" class="form-control" placeholder="متن توضیحات را اینجا بنویسید"></textarea>
                <span asp-validation-for="@Model.CreatingCategory.Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">ارسال</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}