@page
@model App.EndPoints.UI.RazorPages.Areas.Admin.Pages.Category.UpdateModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">بروزرسانی دسته‌بندی</h5>
        <small class="text-muted float-end primary-font">برچسب پیش‌فرض</small>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.UpdatingCategory.Id" value="@Model.UpdatingCategory.Id" />
            <div class="mt-n2 mx-sm-0 mx-auto">
                <input type="hidden" value="@Model.UpdatingCategory.Image" asp-for="@Model.UpdatingCategory.Image" />
                <img src="@Model.UpdatingCategory.Image" alt="user image" style="width:200px; height:200px" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCategory.Image" class="form-label">عکس دسته‌بندی را انتخاب کنید</label>
                <input asp-for="@Model.CategoryImage" class="form-control" type="file">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCategory.Title" class="form-label" for="basic-default-fullname">نام کامل</label>
                <input asp-for="@Model.UpdatingCategory.Title" type="text" class="form-control" id="basic-default-fullname" placeholder="جان اسنو">
                <span asp-validation-for="@Model.UpdatingCategory.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UpdatingCategory.Description" class="form-label" for="basic-default-message">توضیحات</label>
                <textarea asp-for="@Model.UpdatingCategory.Description" id="basic-default-message" class="form-control" placeholder="متن توضیحات را اینجا بنویسید"></textarea>
                <span asp-validation-for="@Model.UpdatingCategory.Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">ارسال</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}