@page
@using Framework
@model App.EndPoints.UI.RazorPages.Pages.CommentModel
@{
    var serviceRequestStatus = TempData["ServiceRequestStatus"].ToString();
    var serviceRequestId = TempData["ServiceRequestId"];
}

<!-- ============================ Main Section Start ================================== -->
<section class="gray">
    <div class="container">
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="author-wrap-ngh">
                    <div class="author-wrap-head-ngh">
                        <div class="author-wrap-ngh-thumb">
                            <img src="@Model.Expert.ProfileImage" class="img-fluid circle" alt="" />
                        </div>
                        <div class="author-wrap-ngh-info">
                            <h5>@Model.Expert.FirstName @Model.Expert.LastName</h5>
                            <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>@Model.Expert.Address.City.Name - @Model.Expert.Address.Street</div>
                        </div>
                    </div>

                    <div class="author-wrap-caption-ngh">
                        <div class="author-wrap-jhyu-ngh">
                            <ul>
                                @* <li>
                                    <div class="gdup-kvty">
                                        <div class="gdup-kvty-icon bg-light-sky text-sky"><i class="fas fa-file"></i></div>
                                        <div class="gdup-kvty-ctr"><h6 class="count">310</h6></div>
                                        <div class="gdup-kvty-text">آگهی</div>
                                    </div>
                                </li> *@
                                @* <li>
                                    <div class="gdup-kvty">
                                        <div class="gdup-kvty-icon bg-light-warning text-warning"><i class="fas fa-thumbs-up"></i></div>
                                        <div class="gdup-kvty-ctr"><h6 class="count">22</h6><span>نفر</span></div>
                                        <div class="gdup-kvty-text">میانگین امتیازات</div>
                                    </div>
                                </li> *@
                                @* <li>
                                    <div class="gdup-kvty">
                                        <div class="gdup-kvty-icon bg-light-danger text-danger"><i class="fas fa-heart"></i></div>
                                        <div class="gdup-kvty-ctr"><h6 class="count">206</h6></div>
                                        <div class="gdup-kvty-text">دنبال کنندگان</div>
                                    </div>
                                </li> *@
                            </ul>
                        </div>
                        @* <div class="author-wrap-yuio-ngh mt-5">
                        <div class="row g-4">
                        <div class="col-6">
                        <a href="javascript:void(0);" class="adv-btn full-width">دنبال کردن</a>
                        </div>
                        <div class="col-6">
                        <a href="javascript:void(0);" class="adv-btn full-width">ارسال پیام</a>
                        </div>
                        </div>
                        </div> *@
                    </div>

                    <div class="author-wrap-footer-ngh">
                        <ul>
                            <li>
                                <div class="jhk-list-inf">
                                    <div class="jhk-list-inf-ico"><i class="fas fa-envelope"></i></div>
                                    <div class="jhk-list-inf-caption"><h5>پست الکترونیک</h5><p>@Model.Expert.Email</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="jhk-list-inf">
                                    <div class="jhk-list-inf-ico"><i class="fas fa-phone"></i></div>
                                    <div class="jhk-list-inf-caption"><h5>شماره تماس</h5><p>@Model.Expert.PhoneNumber</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="jhk-list-inf">
                                    <div class="jhk-list-inf-ico"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="jhk-list-inf-caption"><h5>آدرس</h5><p>@Model.Expert.Address.City.Name - @Model.Expert.Address.Street</p></div>
                                </div>
                            </li>
                            @* <li>
                            <div class="jhk-list-inf">
                            <div class="jhk-list-inf-ico"><i class="fas fa-globe"></i></div>
                            <div class="jhk-list-inf-caption"><h5>وب سایت</h5><p>https://www.example.com</p></div>
                            </div>
                            </li> *@
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-12 bg-white p-2 pt-3">

                <!-- Message Content -->
                <div class="dash-msg-content">

                    @if (Model.ExpertComments.Count == 0 && Model.CustomerComment == null)
                    {
                        <div class="message-plunch">
                            <div class="dash-msg-text"><p>برای این کارشناس هنوز کامنتی ثبت نشده</p></div>
                        </div>
                    }
                    else
                    {
                        @foreach (var comment in Model.ExpertComments)
                        {
                            <div class="message-plunch">
                                <div class="dash-msg-avatar"><img src="@comment.CustomerImageUrl" alt=""></div>
                                <div class="dash-msg-text"><p>@comment.CustomerName | سرویس: @comment.ServiceName<br />تاریخ ثبت: @comment.CreationDate.ToPersianString("dddd, dd MMMM,yyyy") | امتیاز: @comment.Rate \ 5<br />متن کامنت: @comment.Description</p></div>
                            </div>
                        }
                        @* <div class="message-plunch">
                            <div class="dash-msg-avatar"><img src="assets/img/user-1.jpg" alt=""></div>
                            <div class="dash-msg-text"><p>اگر می خواهید از گذرگاه لورم ایپسوم استفاده کنید، باید مطمئن شوید که هیچ چیز شرم آور وجود ندارد.</p></div>
                        </div> *@
                    }
                    <!-- Messagee in customer baraye in expert => agar messagi ersal karde bood barash!-->
                    @if (Model.CustomerComment == null)
                    {
                        <div class="message-plunch">
                            <div class="dash-msg-text"><p>شما کامنتی برای این کارشناس ثبت نکرده اید</p></div>
                        </div>
                    }
                    else if (Model.CustomerComment.IsDeleted == true)
                    {
                        <div class="message-plunch">
                            <div class="dash-msg-text"><p>کامنت شما توسط پشتیبانی حذف شده است. نمیتوانید برای این درخواست کامنتی ارسال کنید!</p></div>
                        </div>
                    }
                    else if (Model.CustomerComment.IsConfirmed == false)
                    {
                        <div class="message-plunch">
                            <div class="dash-msg-text"><p>کامنت شما هنوز تایید نشده است</p></div>
                        </div>
                    }
                    else
                    {
                        <div class="message-plunch me">
                            <div class="dash-msg-avatar"><img src="@Model.CustomerComment.CustomerImageUrl" alt=""></div>
                            <div class="dash-msg-text"><p>کامنت شما<br />تاریخ ثبت: @Model.CustomerComment.CreationDate.ToPersianString("dddd, dd MMMM,yyyy") | امتیاز: @Model.CustomerComment.Rate \ 5<br />متن کامنت: @Model.CustomerComment.Description</p></div>
                        </div>
                    }

                </div>
                <!-- agar kar kamel anjam shode bood iin customer betoone comment bezare, va gar na faghat betoone payam haye digaran ro bebine!-->
                @if ((serviceRequestStatus == "Success" || serviceRequestStatus == "Failed") && Model.CustomerComment == null)
                {
                    <form method="post">
                        <div class="form-group">
                            <label class="mb-1">امتیاز</label>
                            <select asp-for="@Model.SubmittedComment.Rate" class="form-control">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="message-reply form-group">
                            <input type="hidden" value="@serviceRequestId" asp-for="@Model.SubmittedComment.ServiceRequestId" />
                            <input type="hidden" value="@Model.Expert.Id" asp-for="@Model.SubmittedComment.ExpertId" />
                            <textarea asp-for="@Model.SubmittedComment.Description" cols="40" rows="3" class="form-control with-light mb-1" placeholder="متن پیام..."></textarea>
                            <span asp-validation-for="@Model.SubmittedComment.Description" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn theme-bg text-white">ارسال پیام</button>
                        </div>
                    </form>
                }
                else if (serviceRequestStatus != "Success" || serviceRequestStatus != "Failed")
                {

                }
                else if ((serviceRequestStatus == "Success" || serviceRequestStatus == "Failed") && Model.CustomerComment != null)
                {
                    <form method="post">
                        <div class="form-group">
                            <label class="mb-1">امتیاز</label>
                            <select asp-for="@Model.SubmittedComment.Rate" class="form-control">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="message-reply form-group">
                            <input type="hidden" value="@Model.Expert.Id" asp-for="@Model.SubmittedComment.ExpertId" />
                            <textarea asp-for="@Model.SubmittedComment.Description" cols="40" rows="3" class="form-control with-light mb-1" placeholder="شما قبلا برای این کارشناس کامنت و امتیاز ثبت کرده اید!"></textarea>
                            <button type="submit" class="btn theme-bg text-white disabled">ارسال پیام</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>
<!-- ============================ Main Section End ================================== -->

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}