@page
@using App.Domain.Core.Customer.Enums
@using Framework
@model App.EndPoints.UI.RazorPages.Pages.MyProposalsModel
@{
}

<!-- ======================= dashboard Detail ======================== -->
<div class="goodup-dashboard-wrap gray px-4 py-5">
    

    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-lg">لیست پیشنهادات</h1>
                </div>
            </div>
        </div>

        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="dashboard-list-wraps bg-white rounded mb-4">
                        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                            <div class="dashboard-list-wraps-flx">
                                <h4 class="mb-0 ft-medium fs-md"><i class="fas fa-shopping-basket ms-2 theme-cl fs-sm"></i>لیست پیشنهادات</h4>
                            </div>
                        </div>

                        <div class="dashboard-list-wraps-body py-3 px-3">
                            <div class="dashboard-bookings-wraps">

                                @foreach (var proposal in Model.MyProposals)
                                {
                                    <!-- Single booking List -->
                                    @* <form method="post"> *@
                                    <div class="dsd-single-bookings-wraps">
                                        <div class="dsd-single-book-thumb"><img src="@proposal.ExpertProfileImage" class="img-fluid circle" alt="" /></div>
                                        <div class="dsd-single-book-caption">
                                            <div class="dsd-single-book-title"><h5>@proposal.ExpertFirstName @proposal.ExpertLastName <span class="bko-dates">@proposal.ProposalCreatedAt.Value.ToPersianString("dddd, dd MMMM,yyyy")</span></h5></div>
                                            <div class="ico-content">
                                                <ul>
                                                    @if (proposal.IsAccepted is true)
                                                    {
                                                        @if (proposal.ServiceRequestIsDeleted is true)
                                                        {
                                                            <ul>
                                                                <li><div class="px-2 py-1 medium bg-light-danger rounded text-danger">تایید شده و مشتری در انتظار تماس شماست</div></li>
                                                                <li><div class="px-2 py-1 medium bg-light-danger rounded text-danger">این درخواست حذف شده. برای اطلاعات بیشتر با مشتری یا پشتیبان تماس یگیرید</div></li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <li><div class="px-2 py-1 medium bg-light-info rounded text-info">@proposal.ProposalStatus.GetEnumDisplayName()</div></li>

                                                        }

                                                    }
                                                    else if (proposal.IsAccepted is false)
                                                    {
                                                        <li><div class="px-2 py-1 medium bg-light-danger rounded text-danger">رد شده</div></li>
                                                    }
                                                    else if (proposal.ServiceRequestIsDeleted is true)
                                                    {
                                                        <li><div class="px-2 py-1 medium bg-light-danger rounded text-danger">این درخواست حذف شده</div></li>
                                                    }
                                                    else
                                                    {
                                                        <li><div class="px-2 py-1 medium bg-light-warning rounded text-warning">در انتظار</div></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="dsd-single-descr">
                                                <div class="dsd-single-item"><span class="dsd-item-title">نام مشتری:</span><span class="dsd-item-info">@proposal.CustomerFirstName @proposal.CustomerLastName</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">شماره موبایل مشتری:</span><span class="dsd-item-info">@proposal.CustomerPhoneNumber</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">ایمیل مشتری:</span><span class="dsd-item-info">@proposal.CustomerEmail</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">دسته‌بندی:</span><span class="dsd-item-info">@proposal.CategoryName</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">سرویس:</span><span class="dsd-item-info">@proposal.ServiceName</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">توضیحات مشتری:</span><span class="dsd-item-info">@proposal.CustomerDescription</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">مبلغ‌پیشنهادی‌مشتری:</span><span class="dsd-item-info">@proposal.CustomerSuggestedPrice</span> تومان</div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">تاریخ ایجاد درخواست:</span><span class="dsd-item-info">@proposal.ServiceRequestCreatedAt.Value.ToPersianString("dddd, dd MMMM,yyyy")</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">شماره موبایل کارشناس:</span><span class="dsd-item-info">@proposal.ExpertPhoneNumber</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">ایمیل کارشناس:</span><span class="dsd-item-info">@proposal.ExpertEmail</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">توضیحات کارشناس: </span><span class="dsd-item-info">@proposal.ExpertDescription</span></div>
                                                <div class="dsd-single-item"><span class="dsd-item-title">مبلغ‌پیشنهادی‌کارشناس:</span><span class="dsd-item-info">@proposal.ExpertSuggestedPrice</span> تومان</div>
                                                @* <div class="dsd-single-item"><span class="dsd-item-title">مبلغ:</span><span class="dsd-item-info">@proposal.ExpertSuggestedPrice تومان</span></div> *@
                                            </div>
                                            <div class="dsd-single-book-footer">
                                                @if (proposal.IsAccepted is true)
                                                {
                                                    @if (proposal.ServiceRequestIsDeleted is true)
                                                    {
                                                        <a href="" class="btn btn-reject mr-1 disabled"><i class="fas fa-check-circle ms-1"></i>تایید و سپس حذف شده</a>
                                                        <form asp-page-handler="Delete" method="post">
                                                            <input name="proposalId" type="hidden" value="@proposal.Id" />
                                                            <button type="submit" class="btn btn-reject mr-1"><i class="fas fa-trash ms-1"></i>حذف</button>
                                                        </form>
                                                    }
                                                    else if (proposal.ServiceRequestStatus == ServiceRequestStatus.Success)
                                                    {
                                                        <a href="" class="btn btn-aprd mr-1 disabled"><i class="fas fa-check-circle ms-1"></i>درخواست باموفقیت انجام‌شد</a>
                                                        @* <form asp-page-handler="Delete" method="post">
                                                            <input name="proposalId" type="hidden" value="@proposal.Id" />
                                                            <button type="submit" class="btn btn-reject mr-1"><i class="fas fa-trash ms-1"></i>حذف</button>
                                                        </form> *@
                                                    }
                                                    else if (proposal.ServiceRequestStatus == ServiceRequestStatus.Failed)
                                                    {
                                                        <a href="" class="btn btn-reject mr-1 disabled"><i class="fas fa-check-circle ms-1"></i>درخواست باموفقیت انجام‌نشد</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="" class="btn btn-aprd mr-1 disabled"><i class="fas fa-check-circle ms-1"></i>تایید شده</a>
                                                    }
                                                }
                                                else if (proposal.IsAccepted is false)
                                                {
                                                    <form asp-page-handler="Delete" method="post">
                                                        <input name="proposalId" type="hidden" value="@proposal.Id" />
                                                        <button type="submit" class="btn btn-reject mr-1"><i class="fas fa-trash ms-1"></i>حذف</button>
                                                    </form>
                                                }
                                                else if (proposal.IsRejected is true || proposal.ServiceRequestIsDeleted is true)
                                                {
                                                    <form asp-page-handler="Delete" method="post">
                                                        <input name="proposalId" type="hidden" value="@proposal.Id" />
                                                        <button type="submit" class="btn btn-reject mr-1"><i class="fas fa-trash ms-1"></i>حذف</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    @* <form method="post" asp-page-handler="Accept">
                                            <input type="hidden" asp-for="@Model.ServiceRequestNewStatus.NewStatus" value="@Status.WaitingForExpert" />
                                            <input type="hidden" asp-for="@Model.ServiceRequestNewStatus.ServiceRequestId" value="@serviceRequestId" />
                                            <input type="hidden" value="@proposal.Id" name="proposalId" />
                                            <button type="submit" class="btn btn-aprd mr-1"><i class="fas fa-check-circle ms-1"></i>تایید</button>
                                            </form> *@
                                                    <form asp-page-handler="Cancell" method="post">
                                                        <input type="hidden" value="@proposal.Id" name="proposalId" />
                                                        <button type="submit" class="btn btn-reject mr-1"><i class="fas fa-trash ms-1"></i>کنسل کردن</button>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @* </form> *@
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- ======================= dashboard Detail End ======================== -->