@page
@using Framework
@model App.EndPoints.UI.RazorPages.Pages.MyRequestsModel
@{

}

<div class="goodup-dashboard-wrap gray px-4 py-5">
    

    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-lg">آگهی های من</h1>
                </div>
            </div>
        </div>

        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="dashboard-list-wraps bg-white rounded mb-4">
                        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                            <div class="dashboard-list-wraps-flx">
                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>آگهی های من</h4>
                            </div>
                        </div>

                        <div class="dashboard-list-wraps-body py-3 px-3">
                            <div class="dashboard-listing-wraps">

                                @foreach (var request in @Model.MyRequests)
                                {
                                    <div class="dsd-single-listing-wraps">
                                        <div class="dsd-single-lst-thumb"><img src="@request.ServiceImageUrl" class="img-fluid" alt="" /></div>
                                        <div class="dsd-single-lst-caption">
                                            <div class="dsd-single-lst-title"><h5>@request.ServiceName</h5></div>
                                            <span class="agd-location">وضعیت: @request.Status.GetEnumDisplayName()</span>
                                            <br />
                                            <span class="agd-location">توضیحات: @request.CustomerDescription</span>
                                            <div class="ico-content">
                                                @* <div class="Goodup-ft-first">
                                                    <div class="Goodup-price-range">
                                                        <span class="ft-medium">34 پیشنهاد دریافت کرده‌اید</span>
                                                    </div>
                                                </div> *@
                                            </div>

                                            <div class="dsd-single-lst-footer">
                                                @if (request.Status == App.Domain.Core.Customer.Enums.ServiceRequestStatus.Failed)
                                                {
                                                    <a asp-page="Suggestions" asp-route-serviceRequestId="@request.Id" class="btn btn-view mr-1 disabled"><i class="fas fa-eye ms-1"></i>نمایش پیشنهادات</a>
                                                }
                                                else
                                                {
                                                    <a asp-page="Suggestions" asp-route-serviceRequestId="@request.Id" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش پیشنهادات</a>
                                                }
                                                @if (request.Status != App.Domain.Core.Customer.Enums.ServiceRequestStatus.Success)
                                                {
                                                    <form asp-page-handler="Delete" method="post">
                                                        <input type="hidden" name="requestId" value="@request.Id" />
                                                        <button class="btn btn-delete mr-1"><i class="fas fa-trash ms-1"></i>حذف کردن</button>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
