@page
@using Framework
@model App.EndPoints.UI.RazorPages.Pages.MyRequestsModel
@{

}

<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    @* <li><a href="dashboard.html"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li> *@
                    <li><a asp-page="MyRequests"><i class="lni lni-files ms-2"></i>آگهی های من</a></li>
                    <li><a asp-page="Index"><i class="lni lni-add-files ms-2"></i>افزودن آگهی</a></li>
                    @* <li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark ms-2"></i>آگهی های موردعلاقه</a></li> *@
                    @* <li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase ms-2"></i>لیست رزروها<span class="count-tag bg-warning">4</span></a></li> *@
                    @* <li><a href="dashboard-wallet.html"><i class="lni lni-mastercard ms-2"></i>کیف پول</a></li> *@
                    @* <li><a href="dashboard-messages.html"><i class="lni lni-envelope ms-2"></i>پیام ها<span class="count-tag">4</span></a></li> *@
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li class="active"><a asp-page="Profile"><i class="lni lni-user ms-2"></i>تنظیمات</a></li>
                    <li><a asp-page="ChangePassword"><i class="lni lni-lock-alt ms-2"></i>تغییر رمز عبور</a></li>
                    <li><a href="javascript:void(0);"><i class="lni lni-trash-can ms-2"></i>حذف اکانت</a></li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Account" asp-page="Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            @* <button type="submit" class="nav-link btn btn-link text-dark">خروج</button> *@
                            <button type="submit" class="btn theme-cl rounded theme-bg-light ft-medium">خروج</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-lg">آگهی های من</h1>
                </div>
            </div>
        </div>

        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="dashboard-list-wraps bg-white rounded mb-4">
                        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                            <div class="dashboard-list-wraps-flx">
                                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>آگهی های من</h4>
                            </div>
                        </div>

                        <div class="dashboard-list-wraps-body py-3 px-3">
                            <div class="dashboard-listing-wraps">

                                @foreach (var request in @Model.MyRequests)
                                {
                                    <div class="dsd-single-listing-wraps">
                                        <div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-1.jpg" class="img-fluid" alt="" /></div>
                                        <div class="dsd-single-lst-caption">
                                            <div class="dsd-single-lst-title"><h5>@request.ServiceName</h5></div>
                                            <span class="agd-location"><i class="lni lni-map-marker ms-1"></i>@request.Status.GetEnumDisplayName()</span>
                                            <div class="ico-content">
                                                <div class="Goodup-ft-first">
                                                    <div class="Goodup-rating">
                                                        <div class="Goodup-rates">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="Goodup-price-range">
                                                        <span class="ft-medium">34 نظر ثبت شده</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dsd-single-lst-footer">
                                                <a asp-page="Suggestions" asp-route-serviceRequestId="@request.Id" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش پیشنهادات</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
