@page
@model App.EndPoints.UI.RazorPages.Pages.RequestsModel
@{
}

<!-- ============================ Main Section Start ================================== -->
<section class="gray py-5">
	<div class="container">
		<div class="row">

			<!-- Item Wrap Start -->
			@* <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12" id="hotels"> *@

				<!-- row -->
				<div class="row justify-content-center gx-3">
					@if (Model.Requests.Count is 0)
					{
						<p class="center ql-color-orange">در حال حاضر هیچ درخواستی متناسب با مهارت های شما وجود ندارد</p>
					}
					@foreach (var request in Model.Requests)
					{
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="Goodup-grid-wrap">
								<div class="Goodup-grid-upper">
									<div class="Goodup-grid-thumb">
										<a asp-page="Proposal" asp-route-serviceRequestId="@request.Id" class="d-block text-center m-auto"><img src="@request.ServiceImageUrl" class="img-fluid" alt=""></a>
									</div>
								</div>
								<div class="Goodup-grid-fl-wrap">
									<div class="Goodup-caption px-3 py-2">
										@* <div class="Goodup-room-price"><span>198 تومان</span>/شب</div> *@
										<h4 class="mb-0 ft-medium medium mb-0"><a href="single-listing-detail-8.html" class="text-dark fs-md">@request.ServiceName<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
									<div class="Goodup-location">قیمت پیشنهادی مشتری: @request.Price</div>
									<div class="Goodup-location">توضیحات مشتری: @request.CustomerDescription</div>
										<div class="Goodup-middle-caption mt-3">
											<div class="Goodup-booking-button">
												<a asp-page="Proposal" asp-route-serviceRequestId="@request.Id" class="Goodup-btn-book">مشاهده توضیحات</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
				<!-- row -->

				@* <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span class="fas fa-arrow-circle-right"></span>
									<span class="sr-only">قبل</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item active"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">...</a></li>
							<li class="page-item"><a class="page-link" href="#">18</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span class="fas fa-arrow-circle-left"></span>
									<span class="sr-only">بعد</span>
								</a>
							</li>
						</ul>
					</div>
				</div> *@

			@* </div> *@

		</div>
	</div>
</section>
<!-- ============================ Main Section End ================================== -->
