@page
@model App.EndPoints.UI.RazorPages.Pages.RequestModel
@{
}

<!-- ======================= Searchbar Banner ======================== -->
@* <div class="featured-slick">
	<div class="featured-gallery-slide">
		<div class="dlf-flew"><a href="assets/img/lg-1.png" class="mfp-gallery"><img src="assets/img/lg-1.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-2.png" class="mfp-gallery"><img src="assets/img/lg-2.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-3.png" class="mfp-gallery"><img src="assets/img/lg-3.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-4.png" class="mfp-gallery"><img src="assets/img/lg-4.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-5.png" class="mfp-gallery"><img src="assets/img/lg-5.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-6.png" class="mfp-gallery"><img src="assets/img/lg-6.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-7.png" class="mfp-gallery"><img src="assets/img/lg-7.png" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="dlf-flew"><a href="assets/img/lg-8.png" class="mfp-gallery"><img src="assets/img/lg-8.png" class="img-fluid mx-auto" alt="" /></a></div>
	</div>
	<div class="ftl-diope"><a href="javascript:void(0);" class="btn bg-white text-dark ft-medium rounded">مشاهده تصاویر</a></div>
	<div class="Goodup-ops-bhri">
		<div class="Goodup-lkp-flex d-flex align-items-start justify-content-start">
			<div class="Goodup-lkp-thumb">
				<img src="assets/img/burger-king.png" class="img-fluid" width="90" alt="" />
			</div>
			<div class="Goodup-lkp-caption pe-3">
				<div class="Goodup-lkp-title"><h1 class="text-light mb-0 ft-bold fs-3">رست بیف برگر</h4></div>
				<div class="Goodup-ft-first">
					<div class="Goodup-rating">
						<div class="Goodup-rates">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<div class="Goodup-price-range">
						<span class="ft-medium text-light">34 نظر ثبت شده</span>
						<div class="d-inline me-2">
							<span class="active"><i class="fas fa-dollar-sign"></i></span>
							<span class="active"><i class="fas fa-dollar-sign"></i></span>
							<span class="active"><i class="fas fa-dollar-sign"></i></span>
						</div>
					</div>
				</div>
				<div class="d-block mt-3">
					<div class="list-lioe">
						<div class="list-lioe-single text-nowrap"><span class="ft-medium text-info"><i class="fas fa-check-circle ms-1"></i>203 خرید تا امروز</span></div>
						<div class="list-lioe-single me-2 pe-3 seperate">
							<a href="javascript:void(0);" class="text-light ft-medium">بال مرغ</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">فست فود</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">سوخاری</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">پاستا</a>
						</div>
					</div>
				</div>
				<div class="d-block mt-1">
					<div class="list-lioe">
						<div class="list-lioe-single"><span class="ft-medium text-danger">بسته</span><span class="text-light ft-medium me-2">11:00 صبح - 12:00 شب</span></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@
<!-- ======================= Searchbar Banner ======================== -->
<!-- ============================ Listing Details Start ================================== -->
<section class="gray py-5 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">

				<!-- About The Business -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details">
							<h5 class="ft-bold fs-lg ff-second">@Model.SelectedService.Title</h5>

							<div class="d-block mt-3">
								<p>@Model.SelectedService.Description.</p>
								@* <p class="p-0 m-0">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p> *@
							</div>
						</div>

					</div>
				</div>

				<!-- Business Menu -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details mb-4">
							<h5 class="ft-bold fs-lg ff-second">منو رستوران</h5>

							<div class="d-block mt-3">
								<div class="row g-3">

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-1.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">سوپریم برگر</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">79 تومان</h6></div>
											</div>
										</div>
									</div>

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-2.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">چلو جوجه کباب</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">48 تومان</h6></div>
											</div>
										</div>
									</div>

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-3.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">سیب زمینی ویژه</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">65 تومان</h6></div>
											</div>
										</div>
									</div>

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-4.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">چیکن فیله برگر نرمال</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">87 تومان</h6></div>
											</div>
										</div>
									</div>

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-5.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">همبرگر با قارچ و پنیر</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">75 تومان</h6></div>
											</div>
										</div>
									</div>

									<!-- Single Menu -->
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="Goodup-sng-menu">
											<div class="Goodup-sng-menu-thumb">
												<img src="assets/img/m-6.png" class="img-fluid" alt="" />
											</div>
											<div class="Goodup-sng-menu-caption">
												<h4 class="ft-medium fs-sm">خوراک جوجه کباب</h4>
												<div class="lkji-oiyt"><span>شروع از</span> <h6 class="theme-cl mb-0">99 تومان</h6></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Amenities and More -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details mb-4">
							<h5 class="ft-bold fs-lg ff-second">امکانات رفاهی</h5>

							<div class="Goodup-all-features-list mt-3">
								<ul>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="" alt="" /><span>نمره سلامت 8.7 / 10</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>سفارش آنلاین</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>بیرون بر</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>پرداخت آنلاین</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>سلف سرویس</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>سطح قیمت لوکس</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>وای فای رایگان</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>جای پارک</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>مالیات بر ارزش افزوده</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>حق سرویس</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>تنوع منو</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>مناسب برای خانواده</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>مناسب برای کودکان</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>استعمال دخانیات</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>صبحانه، غذای ملل، پیش غذا</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>ظرفیت 120 نفر</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>کافه رستوران</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>مشرف به فضای باز</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>فضای بسته</span></div></li>
									<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>دسترسی به وسایل نقلیه</span></div></li>
									<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>سرویس بهداشتی</span></div></li>
									<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>تلویزیون</span></div></li>
									<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>فضای باز</span></div></li>
									<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>برگزاری جشن</span></div></li>
									<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>ورود حیوانات خانگی</span></div></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!-- Frequently Asked Questions -->
				<div class="d-block mb-2">
					<div class="jbd-01 py-2">
						<div class="jbd-details">
							<h5 class="ft-bold fs-lg ff-second">سوالات متداول</h5>

							<div class="d-block mt-3">
								<div id="accordion2" class="accordion">
									<div class="card">
										<div class="card-header" id="h7">
											<h5 class="mb-0">
												<button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ord7" aria-expanded="true" aria-controls="ord7">
													آیا می توانم لیست GoodUP را به صورت رایگان دریافت کنم؟
												</button>
											</h5>
										</div>

										<div id="ord7" class="collapse show" aria-labelledby="h7" data-parent="#accordion2">
											<div class="card-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="h8">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord8" aria-expanded="false" aria-controls="ord8">
													چگونه فایل ها را برای همیشه از ویندوز پاک کنیم؟
												</button>
											</h5>
										</div>
										<div id="ord8" class="collapse" aria-labelledby="h8" data-parent="#accordion2">
											<div class="card-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="h9">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord9" aria-expanded="false" aria-controls="ord9">
													آیا می توانم لیست GoodUP را به صورت رایگان دریافت کنم؟
												</button>
											</h5>
										</div>
										<div id="ord9" class="collapse" aria-labelledby="h9" data-parent="#accordion2">
											<div class="card-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="h4">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord4" aria-expanded="false" aria-controls="ord4">
													برای GoodUp کدام مجوز برای اهداف تجاری بهتر است؟
												</button>
											</h5>
										</div>

										<div id="ord4" class="collapse" aria-labelledby="h4" data-parent="#accordion2">
											<div class="card-body">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


				<!-- Recommended Reviews -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details mb-4">
							<h5 class="ft-bold fs-lg ff-second">امتیاز و نظر کاربران</h5>
							<div class="reviews-comments-wrap">

								<!-- reviews-comments-item -->
								<div class="reviews-comments-item">
									<div class="review-comments-avatar">
										<img src="assets/img/t-1.png" class="img-fluid" alt="">
									</div>
									<div class="reviews-comments-item-text">
										<h4><a href="#">امید حسن زاده</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>27 آبان 1400</span></h4>
										<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>سانفرانسیسکو، آمریکا</span>
										<div class="listing-rating high"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
										<div class="clearfix"></div>
										<p>" سلام. من و دوستانم بيش از 5 بار است كه از بوفه صبحانه استفاده كرديم. به عنوان صبحانه خيلي خوب است رفتار ميزبان‌ها بسيار محترمانه است. نظر برخي از كاربران مبني بر كم بودن تنوع جاي سوال دارد. "</p>
										<div class="pull-left reviews-reaction">
											<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
											<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
											<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
										</div>
									</div>
								</div>
								<!--reviews-comments-item end-->
								<!-- reviews-comments-item -->
								<div class="reviews-comments-item">
									<div class="review-comments-avatar">
										<img src="assets/img/t-2.png" class="img-fluid" alt="">
									</div>
									<div class="reviews-comments-item-text">
										<h4><a href="#">نازنین حسینی</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>2 مهر 1400</span></h4>
										<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>لیورپول، لندن انگلستان</span>
										<div class="listing-rating mid"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
										<div class="clearfix"></div>
										<p>" درصورتیکه میز کاملاٌ پر شده بود و حداقل یک بار باید میز نظافت و جمع میشد. در نهایت، اصلاٌ توصیه نمیکنم چون هم پول دور ریختنه و هم روز تعطیلتون رو خراب میکنه. "</p>
										<div class="pull-left reviews-reaction">
											<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
											<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
											<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
										</div>
									</div>
								</div>
								<!--reviews-comments-item end-->
								<!-- reviews-comments-item -->
								<div class="reviews-comments-item">
									<div class="review-comments-avatar">
										<img src="assets/img/t-3.png" class="img-fluid" alt="">
									</div>
									<div class="reviews-comments-item-text">
										<h4><a href="#">مسعود محمدی</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>10 مرداد 1400</span></h4>
										<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>تهران، شهرک اکباتان</span>
										<div class="listing-rating good"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
										<div class="clearfix"></div>
										<p>" سلام. من و دوستانم بيش از 5 بار است كه از بوفه صبحانه استفاده كرديم. به عنوان صبحانه خيلي خوب است رفتار ميزبان‌ها بسيار محترمانه است. نظر برخي از كاربران مبني بر كم بودن تنوع جاي سوال دارد. "</p>
										<div class="pull-left reviews-reaction">
											<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
											<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
											<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
										</div>
									</div>
								</div>
								<!--reviews-comments-item end-->
								<div class="clearfix"></div>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span class="fas fa-arrow-circle-left"></span>
											<span class="sr-only">قبل</span>
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item active"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">...</a></li>
									<li class="page-item"><a class="page-link" href="#">18</a></li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span class="fas fa-arrow-circle-right"></span>
											<span class="sr-only">بعد</span>
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>

				<!-- Location & Hours -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details mb-4">
							<h5 class="ft-bold fs-lg ff-second">آدرس و زمان سرویس دهی</h5>
							<div class="Goodup-lot-wrap d-block">
								<div class="row g-4">
									<div class="col-xl-6 col-lg-6 col-md-12">
										<div class="list-map-lot">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.788351674947!2d51.420654220182854!3d35.70682558028542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0170e5559ab5%3A0xd17709cbc12fcc94!2z2K7bjNin2KjYp9mGINi32KfZhNmC2KfZhtuMICYg2K7bjNin2KjYp9mGINiz2b7Zh9io2K8g2YLYsdmG24zYjCDZhdmG2LfZgtmHINu22Iwg2KrZh9ix2KfZhtiMINin2LPYqtin2YYg2KrZh9ix2KfZhtiMINin24zYsdin2YY!5e0!3m2!1sfa!2s!4v1670230928327!5m2!1sfa!2s" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
										</div>
										<div class="list-map-capt">
											<div class="lio-pact">
												<span class="ft-medium text-info">
													تهران
												</span>
											</div>
											<div class="lio-pact"><span class="hkio-oilp ft-bold">خیابان طالقانی</span></div>
											<div class="lio-pact"><p class="ft-medium">خیابان سپهد قرنی رستوران ماهان</p></div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12">
										<table class="table table-borderless">
											<tbody>
												<tr>
													<th scope="row">شنبه</th>
													<td>08:00-24:00</td>
													<td class="text-success">الان باز است</td>
												</tr>
												<tr>
													<td>یکشنبه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
												<tr>
													<td>دوشنبه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
												<tr>
													<td>سه شنبه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
												<tr>
													<td>چهارشنبه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
												<tr>
													<td>پنجشنبه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
												<tr>
													<td>جمعه</td>
													<td>08:00-24:00</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Drop Your Review -->
				<div class="bg-white rounded mb-4">
					<div class="jbd-01 px-4 py-4">
						<div class="jbd-details mb-4">
							<h5 class="ft-bold fs-lg ff-second">ثبت امتیاز و نظر</h5>
							<div class="review-form-box form-submit mt-3">
								<form>
									<div class="row">

										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group mb-3">
												<label class="ft-medium small mb-1">امتیازدهی</label>
												<select class="form-control rounded">
													<option>انتخاب امتیاز</option>
													<option>1 ستاره</option>
													<option>2 ستاره</option>
													<option>3 ستاره</option>
													<option>4 ستاره</option>
													<option>5 ستاره</option>
												</select>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group mb-3">
												<label class="ft-medium small mb-1">نام و نام خانوادگی</label>
												<input class="form-control rounded" type="text" placeholder="نام / نام کاربری">
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group mb-3">
												<label class="ft-medium small mb-1">پست الکترونیک</label>
												<input class="form-control rounded" type="email" placeholder="پست الکترونیک">
											</div>
										</div>

										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group mb-3">
												<label class="ft-medium small mb-1">ثبت نظر</label>
												<textarea class="form-control rounded ht-140" placeholder="نظر خود را بنویسید"></textarea>
											</div>
										</div>

										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<button type="submit" class="btn theme-bg text-light rounded">ثبت نظر</button>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- Sidebar -->
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

				<!-- order Booking -->
				<div class="jb-apply-form bg-white rounded py-4 px-4 box-static mb-4">
					<h4 class="ft-bold mb-1 ff-second fs-5">محل توضیحات شما</h4>

					<form class="_apply_form_form" method="post">
					<div class="Goodup-09kjh">
						<input asp-for="@Model.ServiceRequest.ServiceId" type="hidden" value="@Model.SelectedService.Id" />
						<ul>
							<textarea asp-for="@Model.ServiceRequest.CustomerDescription" cols="40" rows="3" class="form-control with-light" placeholder="متن توضیحات..."></textarea>
						</ul>
					</div>

						<div class="form-group">
							<button type="submit" class="btn btn-md rounded theme-bg text-light ft-medium fs-sm full-width">ثبت سفارش</button>
						</div>
					</form>

				</div>

				<!-- Author Box -->
				<div class="jb-apply-form bg-white rounded py-4 px-4 mb-4">

					<div class="Goodup-agent-blocks">
						<div class="Goodup-agent-thumb"><img src="assets/img/t-1.png" width="90" class="img-fluid circle" alt=""></div>
						<div class="Goodup-agent-caption">
							<h6 class="ft-medium">مدیر رستوران ماهان</h6>
							<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>خیابان سپهبد قرنی</span>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="Goodup-iuky">
						<ul>
							<li>140+<span>پیشنهاد فعال</span></li>
							<li><div class="text-success">4.7</div><span>امتیاز</span></li>
							<li>80K<span>دنبال کننده</span></li>
						</ul>
					</div>

					<div class="agent-cnt-info">
						<div class="row g-4">
							<div class="col-6">
								<a href="javascript:void(0);" class="adv-btn full-width">دنبال کردن</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" class="adv-btn full-width">ارسال پیام</a>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-12">
								<a href="javascript:void(0);" class="adv-btn full-width theme-bg text-light">مشاهده پروفایل</a>
							</div>
						</div>
					</div>

				</div>

				<!-- Business Inof -->
				<div class="jb-apply-form bg-white rounded py-4 px-4 mb-4">
					<div class="uli-list-info">
						<ul>

							<li>
								<div class="list-uiyt">
									<div class="list-iobk"><i class="fas fa-globe"></i></div>
									<div class="list-uiyt-capt"><h5>وب سایت</h5><p>example.com</p></div>
								</div>
							</li>

							<li>
								<div class="list-uiyt">
									<div class="list-iobk"><i class="fas fa-envelope"></i></div>
									<div class="list-uiyt-capt"><h5>پست الکترونیک</h5><p>support@example.com</p></div>
								</div>
							</li>

							<li>
								<div class="list-uiyt">
									<div class="list-iobk"><i class="fas fa-phone"></i></div>
									<div class="list-uiyt-capt"><h5>شماره تماس</h5><p>02155555555</p></div>
								</div>
							</li>
							<li>
								<div class="list-uiyt">
									<div class="list-iobk"><i class="fas fa-map-marker-alt"></i></div>
									<div class="list-uiyt-capt"><h5>آدرس</h5><p>تهران، تهران، ولیعصر، قرنی، طالقانی</p></div>
								</div>
							</li>

						</ul>
					</div>
				</div>


				<div class="row g-3 mb-3">
					<div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-camera"></i>افزودن تصویر</a></div>
					<div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-share"></i>اشتراک</a></div>
					<div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-heart"></i>ذخیره</a></div>
				</div>

			</div>

		</div>
	</div>
</section>
<!-- ============================ Listing Details End ================================== -->
<!-- ======================= Related Listings ======================== -->
<section class="space min">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center mb-5">
					<h6 class="theme-cl">پیشنهادهای مشابه</h6>
					<h4 class="ft-bold ff-second">جدیدترین پیشنهادهای مشابه</h4>
				</div>
			</div>
		</div>

		<!-- row -->
		<div class="row justify-content-center">

			<!-- Single -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="Goodup-grid-wrap">
					<div class="Goodup-grid-upper">
						<div class="Goodup-pos ab-right">
							<div class="Goodup-status close ms-2">بسته</div>
						</div>
						<div class="Goodup-grid-thumb">
							<a href="single-listing-detail-2.html" class="d-block text-center m-auto"><img src="assets/img/listing/l-5.jpg" class="img-fluid" alt=""></a>
						</div>
						<div class="Goodup-rating overlay">
							<div class="Goodup-pr-average high">4.8</div>
							<div class="Goodup-aldeio">
								<div class="Goodup-rates">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<div class="Goodup-all-review"><span>46 نظر</span></div>
							</div>
						</div>
					</div>
					<div class="Goodup-grid-fl-wrap">
						<div class="Goodup-caption px-3 py-2">
							<div class="Goodup-author"><a href="author-detail.html"><img src="assets/img/t-1.png" class="img-fluid circle" alt=""></a></div>
							<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-2.html" class="text-dark fs-md">سالن زیبایی خانه عروس</a></h4>
							<div class="Goodup-location"><i class="fas fa-map-marker-alt ms-1 theme-cl"></i>کالیفرنیا، ایالات متحده آمریکا</div>
							<div class="Goodup-middle-caption mt-3">
								<p>شرایط فعلی تکنولوژی مورد نیاز</p>
							</div>
						</div>
						<div class="Goodup-grid-footer py-2 px-3">
							<div class="Goodup-ft-first">
								<a href="half-map-search-2.html" class="Goodup-cats-wrap"><div class="cats-ico bg-2"><i class="lni lni-slim"></i></div><span class="cats-title">آرایشگاه</span></a>
							</div>
							<div class="Goodup-ft-last">
								<div class="Goodup-inline">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Single -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="Goodup-grid-wrap">
					<div class="Goodup-grid-upper">
						<div class="Goodup-pos ab-right">
							<div class="Goodup-status open ms-2">باز</div>
							<div class="Goodup-featured-tag">ویژه</div>
						</div>
						<div class="Goodup-grid-thumb">
							<a href="single-listing-detail-2.html" class="d-block text-center m-auto"><img src="assets/img/listing/l-6.jpg" class="img-fluid" alt=""></a>
						</div>
						<div class="Goodup-rating overlay">
							<div class="Goodup-pr-average high">4.1</div>
							<div class="Goodup-aldeio">
								<div class="Goodup-rates">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<div class="Goodup-all-review"><span>17 نظر</span></div>
							</div>
						</div>
					</div>
					<div class="Goodup-grid-fl-wrap">
						<div class="Goodup-caption px-3 py-2">
							<div class="Goodup-author"><a href="author-detail.html"><img src="assets/img/t-2.png" class="img-fluid circle" alt=""></a></div>
							<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-2.html" class="text-dark fs-md">کلوپ آنجلیکا استانبول</a></h4>
							<div class="Goodup-location"><i class="fas fa-map-marker-alt ms-1 theme-cl"></i>سانفرانسیسکو، ایالات متحده آمریکا</div>
							<div class="Goodup-middle-caption mt-3">
								<p>شرایط فعلی تکنولوژی مورد نیاز</p>
							</div>
						</div>
						<div class="Goodup-grid-footer py-2 px-3">
							<div class="Goodup-ft-first">
								<a href="half-map-search-2.html" class="Goodup-cats-wrap"><div class="cats-ico bg-3"><i class="lni lni-cake"></i></div><span class="cats-title">کلوپ شبانه</span></a>
							</div>
							<div class="Goodup-ft-last">
								<div class="Goodup-inline">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Single -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="Goodup-grid-wrap">
					<div class="Goodup-grid-upper">
						<div class="Goodup-pos ab-right">
							<div class="Goodup-status open ms-2">باز</div>
						</div>
						<div class="Goodup-grid-thumb">
							<a href="single-listing-detail-2.html" class="d-block text-center m-auto"><img src="assets/img/listing/l-7.jpg" class="img-fluid" alt=""></a>
						</div>
						<div class="Goodup-rating overlay">
							<div class="Goodup-pr-average mid">3.6</div>
							<div class="Goodup-aldeio">
								<div class="Goodup-rates">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<div class="Goodup-all-review"><span>30 نظر</span></div>
							</div>
						</div>
					</div>
					<div class="Goodup-grid-fl-wrap">
						<div class="Goodup-caption px-3 py-2">
							<div class="Goodup-author"><a href="author-detail.html"><img src="assets/img/t-3.png" class="img-fluid circle" alt=""></a></div>
							<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-2.html" class="text-dark fs-md">کافه سرای سنتی سیمرغ</a></h4>
							<div class="Goodup-location"><i class="fas fa-map-marker-alt ms-1 theme-cl"></i>نیویورک، ایالات متحده آمریکا</div>
							<div class="Goodup-middle-caption mt-3">
								<p>شرایط فعلی تکنولوژی مورد نیاز</p>
							</div>
						</div>
						<div class="Goodup-grid-footer py-2 px-3">
							<div class="Goodup-ft-first">
								<a href="half-map-search-2.html" class="Goodup-cats-wrap"><div class="cats-ico bg-4"><i class="lni lni-coffee-cup"></i></div><span class="cats-title">کافی شاپ</span></a>
							</div>
							<div class="Goodup-ft-last">
								<div class="Goodup-inline">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Single -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="Goodup-grid-wrap">
					<div class="Goodup-grid-upper">
						<div class="Goodup-pos ab-right">
							<div class="Goodup-status close ms-2">بسته</div>
							<div class="Goodup-featured-tag">ویژه</div>
						</div>
						<div class="Goodup-grid-thumb">
							<a href="single-listing-detail-2.html" class="d-block text-center m-auto"><img src="assets/img/listing/l-8.jpg" class="img-fluid" alt=""></a>
						</div>
						<div class="Goodup-rating overlay">
							<div class="Goodup-pr-average poor">2.3</div>
							<div class="Goodup-aldeio">
								<div class="Goodup-rates">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<div class="Goodup-all-review"><span>42 نظر</span></div>
							</div>
						</div>
					</div>
					<div class="Goodup-grid-fl-wrap">
						<div class="Goodup-caption px-3 py-2">
							<div class="Goodup-author"><a href="author-detail.html"><img src="assets/img/t-4.png" class="img-fluid circle" alt=""></a></div>
							<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-2.html" class="text-dark fs-md">مرکز خرید ایران مال</a></h4>
							<div class="Goodup-location"><i class="fas fa-map-marker-alt ms-1 theme-cl"></i>کالیفرنیا، ایالات متحده آمریکا</div>
							<div class="Goodup-middle-caption mt-3">
								<p>شرایط فعلی تکنولوژی مورد نیاز</p>
							</div>
						</div>
						<div class="Goodup-grid-footer py-2 px-3">
							<div class="Goodup-ft-first">
								<a href="half-map-search-2.html" class="Goodup-cats-wrap"><div class="cats-ico bg-5"><i class="lni lni-shopping-basket"></i></div><span class="cats-title">مرکز خرید</span></a>
							</div>
							<div class="Goodup-ft-last">
								<div class="Goodup-inline">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- row -->

	</div>
</section>
<!-- ======================= Related Listings ======================== -->
